
<div class='banner-image'></div>



<%= form_tag(quizpage_url(:id), method: 'post') do %>


<header>
<h1>Where's the best place for me to live in Chicago?</h1>

</header>


<fieldset class="field1">
<h2>Where are your summers best spent?</h2>
<h3>1/5</h3>

    <div class='ind_question'>
        <input type="radio" name="question1" value="a11" id="a11">
        <label for = "a1">Swimming in the lake, running along the lake, chillin' by the lake</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question1" value="a12" id="a12">
        <label for = "a2">At neighborhood festivals and places with out-door seating</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question1" value="a13" id="a13">
        <label for = "a3">I work all summer and never get to go outside</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question1" value="a14" id="a14">
        <label for = "a4">In my back yard firing up the old barbeque!</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question1" value="a15" id="a15">
        <label for = "a5">Let me get out of Chicago and into the country</label>
</div>
</fieldset>


<fieldset class="field2">
<h2>When it comes to parking ...</h2>
<h3>2/5</h3>

    <div class='ind_question'>
        <input type="radio" name="question2" value="a21" id="a21">
        <label for = "a21">I will pay whatever the price as long as I'm in the right neighborhood</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question2" value="a22" id="a22">
        <label for = "a22">I want to park inside my living room and not pay a cent</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question2" value="a23" id="a23">
        <label for = "a23">I enjoy a brisk five-minute walk from my car to my home</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question2" value="a24" id="a24">
        <label for = "a24">I don't care about parking. I don't use a car</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question2" value="a25" id="a25">
        <label for = "a25">Brrr. With ice-cold Chicago winters I want to park near my house</label>
</div>
</fieldset>



<fieldset class="field3">
<h2>Who's your favorite baseball team?</h2>
<h3>3/5</h3>

    <div class='ind_question'>
        <input type="radio" name="question3" value="a31" id="a31">
        <label for = "a31">Cubs of course, this will be the year!</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question3" value="a32" id="a32">
        <label for = "a32">I proudly wear my Cubs shirt but I can't name a single outfielder</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question3" value="a33" id="a33">
        <label for = "a33">I don't really care about Chicago teams</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question3" value="a34" id="a34">
        <label for = "a34">Baseball is boring!</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question3" value="a35" id="a35">
        <label for = "a35">I'll go to a Sox game once in a while</label>
</div>
</fieldset>



<fieldset class="field4">
<h2>What do you do for work?</h2>
<h3>4/5</h3>

    <div class='ind_question'>
        <input type="radio" name="question4" value="a41" id="a41">
        <label for = "a41">I'm working hard to support my family</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question4" value="a42" id="a42">
        <label for = "a42">Steadily building my career</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question4" value="a43" id="a43">
        <label for = "a43">Thanks to the economy I'm in between jobs</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question4" value="a44" id="a44">
        <label for = "a44">I just got my first real job</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question4" value="a45" id="a45">
        <label for = "a45">I have this gig until my record goes platinum</label>
</div>
</fieldset>


<fieldset class="field5">
<h2>On a Friday evening you like to ...</h2>
<h3>5/5</h3>

    <div class='ind_question'>
        <input type="radio" name="question5" value="a51" id="a51">
        <label for = "a51">PARTY!</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question5" value="a52" id="a52">
        <label for = "a52">Check out the newest restaurant or hit the clubs</label>
    </div>
    <div class='ind_question'>
        <input type="radio" name="question5" value="a53" id="a53">
        <label for = "a53">Go watch a movie or maybe meet my friends at a bar</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question5" value="a54" id="a54">
        <label for = "a54">I might meet up with friends but most likely I'll stay home</label>
    </div>

    <div class='ind_question'>
        <input type="radio" name="question5" value="a55" id="a55">
        <label for = "a55">Relax at home, read a good book or watch TV</label>
    </div>
</fieldset>


 <%= submit_tag "Where Should I live in Chicago?", class:"submit_button" %>

<% end %>






