// Place all the styles related to the quizpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "library";
@import "reset";

// @import "compass/css3";

//Global variables
$color_sky: #0066AD;
$color_hancock: #2D384E;
$color_ocean: #358A7D;
$color_clouds: #CCCCCA;
$color_building: #9F4B1F;
$color_beach: #FFEAB4;


// Global templates
%group:after {
    display: table;
    clear: both;
    content: "";
}

.container{
    // border: 2px solid black;
    padding: 0 20px;
}

// Global tags
body {
    font-family: "gill sans", Helvetica;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 0 50px 0;
    background: url('ChicagoSkyline.jpg')  top center no-repeat;
    background-size: cover;
    color: $color_hancock;
}

h1 {

    font-size: 36px;
    margin: 20px 0;
    font-weight: bold;
    line-height: 40px;
    color: $color_clouds;
    width: 100%;
    text-align: left;


}

h2 {
    font-size: 30px;
    line-height: 32px;
}


h3{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
}


.banner-image{
    max-width: 100%;
    position: absolute;
    width: 150px;
    height: 200px;
    top: 40px;
    right: 40px;
    background: url('chicagoflag.jpg') center center no-repeat;
    // z-index: 100;


}

// Everything else
fieldset {

    max-width: 600px;
        // border: 1px solid black;
    // position: relative;
}

.field1 {
    @include fieldset($color_sky,$color_clouds);
}

.field2 {
    @include fieldset($color_hancock,$color_clouds);
}

.field3 {
    @include fieldset($color_building,$color_clouds);
}

.field4 {
    @include fieldset(#00354B,$color_clouds);
}

.field5 {
    @include fieldset($color_ocean,$color_clouds);
}


.ind_question{
    margin-top: 10px;

}

.submit_button{

    max-width: 600px;
    width: 100%;
    color: $color_ocean;

    border: 10px;
    font-size: 35px;
    display: block;
     @include fieldset($color_beach,$color_beach);

}


@media screen and (max-width: 1000px) {

    h1, body{
        text-align: center;
    }

    label{
        line-height: 18px;
        padding: 0 5px;
    }

}



