// Place all the styles related to the quizpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "library";
@import "reset";

//Global variable
$color_sky: #0066AD;
$color_hancock: #2D384E;
$color_ocean: #358A7D;
$color_clouds: #CCCCCA;
$color_building: #9F4B1F;



// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

%container {
    max-width: 600px;
    margin: auto 0;
    margin: 50px;
}

// Global tags

body {
    font-family: "gill sans", Helvetica;
    font-size: 18px;
    line-height: 24px;
    padding: 15px 15px;
    background: url('ChicagoSkyline.jpg')  center center no-repeat;
    background-size: cover;
    color: #2D384E;


}

h1 {
    font-size: 36px;
    margin-bottom: 1em;
    font-weight: bold;

    color: #CCCCCA;
    width: 1000px;


}

h2 {
    font-size: 30px;

}


h3{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 22px;
}



// Everything else

form {
    @extend %container;
}


.field1 {
    @include fieldset($color_sky);

    h2{
        color: $color_sky;
    }
}

.field2 {
    @include fieldset($color_hancock);

    h2{
        color: $color_hancock;
    }

}


.field3 {
    @include fieldset($color_building);

    h2{
        color: $color_building;
    }

}

.field4 {
    @include fieldset($color_ocean);

    h2{
        color: $color_ocean;
    }

}

.field5 {
    @include fieldset($color_sky);

    h2{
        color: $color_sky;
    }

}







input {
    // &:checked + label{
    //     display: none;
    // }
    }

// input[type=radio]:checked + label{
//         display: none;
//     }

label {
    margin-right: 10px;
}



.ind_question{
    margin-top: 10px;
}


